@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<style>
    
        h2{
            border-color:pink;
            border-width:5px;
            border-style:solid;
        }
    </style>
<p>Use this area to provide additional information.</p>
<h2> UserDetails</h2>
User Name: <input type="text" name="username" padding:20px ><br/>

password: <input type="text" name="pwd"><br>
<input type="button" value="submit"><br>
<h3><b> Select your mother tongue</b></h3>
<label></label><input type="Radio" name="language" value="Tamil" checked>TAMIL</label><br>
<input type="Radio" name="language" value="English">ENGLISH<br>
<input type="Radio" name="language" value="hindi">HINDI<br>




